<ion-view view-title='Trello'>
    <ion-content>
        <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input ng-model="val" type="text" placeholder="new board">
            
          </label>
          <button class="button button-small button-positive" ng-click="addBoard(val)">
            add
           </button>
        </div>
         
        <ion-item  ng-repeat="board in boards" class="item item-text-wrap" href="#/boards/{{$index}}">
            {{board.name}}
        </ion-item >
    </ion-content>
  </ion-view>
  