<ion-view cache-view="false">
  <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content >
        <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input ng-model="val" type="text" placeholder="new board">
            
          </label>
          <button class="button button-small button-positive" ng-click="addBoard(val); val=''">
            add
           </button>
        </div>
         
        <ion-item  ng-repeat="board in boards"  class="item item-avatar" href="#/boards/{{$index}}">
          <img src={{board.prefs.backgroundImage}}>
            {{board.name}}
        </ion-item >
    </ion-content>
  </ion-view>
  