/* Empty. Add your own CSS if you like */
.background{
    background-color: antiquewhite;
}
.list-popup{
    float: left;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
}
.buttonFullWidth{
    width: 100%;
}
.popup {
    width: 100% !important;
     }
.floatRight{
    float: right;
}
.close-icon{
    position: absolute;
    z-index: 3;
    right: 6px;
    top: 20px;
}
.position-absolute{
    position: relative;
}
.cards{
    max-height: 50vh;
}
.checklistHide{
    display:none
}
.checklistdisplay{
    display:block
}
.addCardDisplay{
    display:none
}
.addCardHide{
    display:block
}
.cancel{
    margin: 0px !important;
}
.addlist{
    opacity: 0.6;
    border: 10px;
    border-radius: 4px;
}